<mat-toolbar>
  <span class="headline">Platform</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" color="warn" (click)="addNewDecision()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" color="warn" (click)="myDecisions()">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" color="warn" (click)="searchForOthers()">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" color="warn" (click)="goToProfile()">
    <mat-icon>account_box</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" color="warn" (click)="signOut()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>